:root {
    --nav-color: grey;
    --nav-text: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.left-nav {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.right-nav {
  float: right;
}

.header-icon {
    height: 30px;
    width: 30px;
    margin: 8px
}

#center {
  display: block;
  text-align: center;
}

#search {
  padding: 6px 9px 0;
}

#logo {
  height: 92px;
  width: 272px;
  padding-top: 109px;
}
